@model eshop.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit order: @Model.OrderNumber</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="@Model.ID" class="form-control">
            <input type="hidden" asp-for="@Model.OrderNumber" class="form-control">
            <input type="hidden" asp-for="@Model.TotalPrice" class="form-control">

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Confirmed" /> @Html.DisplayNameFor(model => model.Confirmed)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
